.registration-contents
  .main-container
    %h2 会員情報入力
    .form-inner
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        
        .signup-container--first

          .form-group
            = f.label "ニックネーム"
            %span 必須
            = f.text_field :nickname, autofocus: true, calss: "input-default", placeholder: "例）メルカリ太郎"
          .form-group
            = f.label "メールアドレス"
            %span 必須
            = f.email_field :email, autofocus: true, autocomplete: "email", calss: "input-default", placeholder: "PC・携帯どちらでも可"
  
          .form-group
            = f.label "パスワード"
            %span 必須
            = f.password_field :password, autocomplete: "new-password", calss: "input-default", placeholder: "6文字以上"
          .form-group
            = f.label "パスワード(確認)"
            %span 必須
            = f.password_field :password_confirmation, autocomplete: "new-password", calss: "input-default", placeholder: "6文字以上"
          .form-group
            %h3
              本人確認
            .form-group__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          = f.fields_for :user_detail do |fa|
            .form-group
              = fa.label "姓(全角)"
              %span 必須
              = fa.text_field :family_name, class: "input-default", placeholder: "例) 山田"
            .form-group
              = fa.label "名(全角)"
              %span 必須
              = fa.text_field :first_name, class: "input-default", placeholder: "例) 彩"
            .form-group
              = fa.label "姓カナ(全角)"
              %span 必須
              = fa.text_field :family_name_kana, class: "input-default", placeholder: "例) ヤマダ"                
            .form-group
              = fa.label "名カナ(全角)"
              %span 必須
              = fa.text_field :first_name_kana, class: "input-default", placeholder: "例) アヤ"
            .form-group
              = fa.label "生年月日"
              %span 必須
              .date-select
                = fa.date_select :date_of_birth, {use_month_numbers: true,start_year: 1900, end_year: (Time.now.year), include_blank: '--', date_separator: '年'},
                {class: "date-select__tab"}

              -# .form-group__select-wrap
              -#   .form-group__select-wrap--year
              -#     = select_tag('year',options_for_select(1900..2019), include_blank: '--', class:'select-default')
              -#     %i.fa.fa-chevron-down
              -#     %span
              -#       年
              -#   .form-group__select-wrap--month
              -#     = select_tag('month',options_for_select(1..12), include_blank: '--', class:'select-default')
              -#     %i.fa.fa-chevron-down
              -#     %span
              -#       月
              -#   .form-group__select-wrap--date
              -#     = select_tag('date',options_for_select(1..31), include_blank: '--', class:'select-default')
              -#     %i.fa.fa-chevron-down
              -#     %span
              -#       日
            .form-group__form-info
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            .next-content
              .form-group
                = image_tag "https://i.kinja-img.com/gawker-media/image/upload/s--jWVcbQhq--/pfwzk0orb7yuclnjfkn9.gif", class: "form-group__certification"
              .form-group
                %p.text-center
                  「次へ進む」のボタンを押すことにより、
                  = link_to "利用規約"
                  に同意したものとみなします
              .button__first
                次へ進む
              %p.text-right
                = link_to'本人確認の登録について＞'
        .signup-container--second 
          = f.fields_for :user_detail do |fa|
            .form-group
              = fa.label "郵便番号"
              %span 必須
              = fa.text_field :postal_code, class: "input-default", placeholder: "例) 123-4567"
            .form-group
              = fa.label "都道府県"
              %span 必須
              .form-group__select-wrap
                = fa.collection_select :prefecture, Prefecture.all, :id, :name, {}, class: "select"
                %i.fa.fa-chevron-down.chevron-prefecture
            .form-group
              = fa.label "市区町村"
              %span 必須
              = fa.text_field :city, class: "input-default", placeholder: "例) 横浜市緑区"                
            .form-group
              = fa.label "番地"
              %span 必須
              = fa.text_field :address, class: "input-default", placeholder: "例) 青山1-1-1"        
            .form-group
              = fa.label "建物名"
              %span.gray 任意
              = fa.text_field :building_name, class: "input-default", placeholder: "例) 柳ビル103"        
            .form-group
              = fa.label "電話"
              %span.gray 任意
              = fa.text_field :phone_number, class: "input-default", placeholder: "例) 09012345678"        
            .button__second
              次へ進む

        .signup-container--third
          .actions
            = f.submit "登録完了" , class: "button"