.items-container__boxs
  .item-boxs
    = link_to do
      .item-boxs__photo
        = image_tag 'https://taiyoko-no1.com/wp/wp-content/uploads/2011/03/Noimage_image.png', height: '220px', width: '215'
      .boxs-body
        %h2.boxs-body__name
          商品名
        .boxs-body__price
          ￥0
        .boxs-body__tax
          (税込)
  .item-boxs
    = link_to do
      .item-boxs__photo
        = image_tag 'https://taiyoko-no1.com/wp/wp-content/uploads/2011/03/Noimage_image.png', height: '220px', width: '215'
      .boxs-body
        %h2.boxs-body__name
          商品名
        .boxs-body__price
          ￥0
        .boxs-body__tax
          (税込)
  .item-boxs
    = link_to do
      .item-boxs__photo
        = image_tag 'https://taiyoko-no1.com/wp/wp-content/uploads/2011/03/Noimage_image.png', height: '220px', width: '215'
      .boxs-body
        %h2.boxs-body__name
          商品名
        .boxs-body__price
          ￥0
        .boxs-body__tax
          (税込)
  .item-boxs
    = link_to do
      .item-boxs__photo
        = image_tag 'https://taiyoko-no1.com/wp/wp-content/uploads/2011/03/Noimage_image.png', height: '220px', width: '215'
      .boxs-body
        %h2.boxs-body__name
          商品名
        .boxs-body__price
          ￥0
        .boxs-body__tax
          (税込)
.items-container__product-all
  = link_to do
    すべての商品を見る