.signup-contents
  .main-container
    %h2
      新規会員登録
    .form-inner
      = link_to do 
        .form-inner__email-icon
          %i.fa.fa-envelope
          = link_to "メールアドレスで登録" ,"/users/sign_up"
      = link_to do
        .form-inner__facebook-icon
          %i.fab.fa-facebook-square
          = link_to "Facebookで登録"
      = link_to do
        .form-inner__google-icon
          %i.fab.fa-google
          = link_to "Googleで登録"