.login-contents
  .main-container
    .registration-inner
      アカウントをお持ちでない方はこちら
      = link_to do 
        .registration-inner__button
          = link_to "新規会員登録" , signup_users_path
    .login-inner
      = link_to do 
        .login-inner__facebook-button
          %i.fab.fa-facebook-square
          = link_to "Facebookでログイン"
      = link_to do
        .login-inner__google-button
          %i.fab.fa-google
          = link_to "Googleでログイン"
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-form
          .alert-text
            = alert
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "login-form__email", placeholder: "メールアドレス"
          %ul.error__email
          = f.password_field :password, autocomplete: "current-password", class: "login-form__password", placeholder: "パスワード"
          %ul.error__password        
          = image_tag "https://i.kinja-img.com/gawker-media/image/upload/s--jWVcbQhq--/pfwzk0orb7yuclnjfkn9.gif",class: "login-inner__certification-image"
          = f.submit "ログイン", class: "login-inner__login-button"
      %p.login-inner__text-right
        = link_to 'パスワードをお忘れの方'

