.items-container__boxs
  - @products.limit(4).each do |product|
    .item-boxs
      = link_to do
        .item-boxs__photo
          = image_tag product.images.first.image.url, height: '220px', width: '215'
        .boxs-body
          %h2.boxs-body__name
            = product.name
          .boxs-body__price
            ¥
            = product.sales_price
          .boxs-body__tax
            (税込)
.items-container__product-all
  = link_to do
    すべての商品を見る