.confirmation-contents
  .main-container
    .tops-content
      購入が完了しました。
    .buy-content
      = image_tag @image.image.url, class: "buy-content__image"
      %p.buy-content__product-name
        = @product.name
      .buy-form
        %p.buy-form__price
          ¥
          = @product.sales_price
          %span.buy-form__price-shipping-fee
            送料込み
        .user-info
          %h3 配送先
          .user-info__text
            〒
            = @product.buyer_user.user_detail.postal_code
            %br
            = @product.buyer_user.user_detail.prefecture
            = @product.buyer_user.user_detail.city
            = @product.buyer_user.user_detail.address
            = @product.buyer_user.user_detail.building_name
            %br
            = @product.buyer_user.user_detail.family_name
            = @product.buyer_user.user_detail.first_name
          .user-info__text--right
            = link_to '変更する'
        .payment-method
          %h3 支払い方法
          .payment-method__text
            クレジットカード
          .payment-method__text--right
            = link_to '変更する'
        .transaction-flow
          %h3
            発表通知後の流れ
          .rate-image
            %i.fas.fa-laugh
            %i.fas.fa-meh
            %i.fas.fa-frown

          .transaction-flow__contents
            商品を受け取ったら 
            %br
            出品者の評価をしましょう。
            %br
            購入代金が出品者に振り込まれます。
            %br
            評価後に取引は完了です。
            %br
          = link_to "マイページへ戻る", "", style: "font-weight: bold;"