.confirmation-contents
  .main-container
    .tops-content
      商品を確定しますか？
    .buy-content
      = image_tag @image.image.url ,class: "buy-content__image"
      %p.buy-content__product-name
        = @product.name
      .buy-form
        %p.buy-form__price
          ¥
          = @product.sales_price
          %span.buy-form__price-shipping-fee
            送料込み
        .buy-form__buy-accordion
          ポイントはありません
        .buy-form__payment
          .buy-form__payment--left
            支払い金額
          .buy-form__payment--right
            ¥
            = @product.sales_price
        %p.buy-form__error-text
          配送先と支払い方法の入力を完了してください。
        = link_to "購入する", pay_users_path, method: :post, class: "buy-form__buy-button", style: "color: white;"
        .user-info
          %h3 配送先
          .user-info__text
            〒
            = current_user.user_detail.postal_code
            %br
            = current_user.user_detail.prefecture
            = current_user.user_detail.city
            = current_user.user_detail.address
            = current_user.user_detail.building_name
            %br
            = current_user.user_detail.family_name
            = current_user.user_detail.first_name

          .user-info__text--right
            = link_to '変更する'
        .payment-method
          %h3 支払い方法
          .payment-method__text
            クレジットカード
          .payment-method__text--right
            = link_to '変更する'