.container
  = render '/users/side_bar'
  .search-contents
    %span.search-word
      @@@
    の検索結果
    .search-number
      1 - 132件表示
    .product-contents
      .product-box
        = link_to "/"  do
          = image_tag "https://static.mercdn.net/thumb/photos/m36637885953_1.jpg?1560989695" , width: '160px', height: '160px;'
          .box-content
            .box-content__title
              11111111
            .box-content__price
              ¥1223
      .product-box
        = link_to "/"  do
          = image_tag "https://static.mercdn.net/thumb/photos/m36637885953_1.jpg?1560989695" , width: '160px', height: '160px;'
          .box-content
            .box-content__title
              11111111
            .box-content__price
              ¥1223
      .product-box
        = link_to "/"  do
          = image_tag "https://static.mercdn.net/thumb/photos/m36637885953_1.jpg?1560989695" , width: '160px', height: '160px;'
          .box-content
            .box-content__title
              11111111
            .box-content__price
              ¥1223


