.container.product-form
  %h1.form-header 商品の情報を入力
  .form-body
    = form_with model: @product do |f|
      .picture.form-part
        %label.form-part__label.big 出品画像
        %span必須
        %p.form-part__explane 最大10枚までアップロードできます
        .picture__drop-box
          = f.file_field :image
          %preドラッグアンドドロップ
          %preまたはクリックしてファイルをアップロード
      .overview.form-part
        .overview__name
          %label.form-part__label 商品名
          %span 必須
          = f.text_field :name, placeholder: "商品名（必須40文字まで）"
        .overview__explane
          %label.form-part__label 商品の説明
          %span必須
          = f.text_area :text, rows: "5", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"
      .detail.form-part
        %h2.form-part__title 商品の詳細
        .detail__right
          .form-part__select.category
            %label.form-part__label カテゴリー
            %span必須
            .form-part__select-box
              %select
                %option(value="")---
                %option(value="1")レディース
                %option(value="2")メンズ
                %option(value="3")ベビー・キッズ
                %option(value="4")インテリア・住まい・小物
                %option(value="5")本・音楽・ゲーム
                %option(value="6")おもちゃ・ホビー・グッズ
                %option(value="7")コスメ・香水・美容
                %option(value="8")家電・スマホ・カメラ
                %option(value="9")スポーツ・レジャー
                %option(value="10")ハンドメイド
                %option(value="11")チケット
                %option(value="12")自動車・オートバイ
                %option(value="13")その他
              %i.fas.fa-chevron-down
            .form-part__select-box
              %select
                %option(value="")---
                %option(value="1")レディース
                %option(value="2")メンズ
                %option(value="3")ベビー・キッズ
                %option(value="4")インテリア・住まい・小物
                %option(value="5")本・音楽・ゲーム
                %option(value="6")おもちゃ・ホビー・グッズ
                %option(value="7")コスメ・香水・美容
                %option(value="8")家電・スマホ・カメラ
                %option(value="9")スポーツ・レジャー
                %option(value="10")ハンドメイド
                %option(value="11")チケット
                %option(value="12")自動車・オートバイ
                %option(value="13")その他
              %i.fas.fa-chevron-down
            .form-part__select-box
              %select
                %option(value="")---
                %option(value="1")レディース
                %option(value="2")メンズ
                %option(value="3")ベビー・キッズ
                %option(value="4")インテリア・住まい・小物
                %option(value="5")本・音楽・ゲーム
                %option(value="6")おもちゃ・ホビー・グッズ
                %option(value="7")コスメ・香水・美容
                %option(value="8")家電・スマホ・カメラ
                %option(value="9")スポーツ・レジャー
                %option(value="10")ハンドメイド
                %option(value="11")チケット
                %option(value="12")自動車・オートバイ
                %option(value="13")その他
              %i.fas.fa-chevron-down
          .form-part__select.size
            %label.form-part__label サイズ
            %span必須
            .form-part__select-box
              %select
                %option(value="")---
                %option(value="1")XXS以下
                %option(value="2")XS(SS)
                %option(value="3")S
                %option(value="4")M
                %option(value="5")L
                %option(value="6")XL(LL)
                %option(value="7")2XL(3L)
                %option(value="8")3XL(4L)
                %option(value="9")4XL(5L)以上
                %option(value="10")FREE SIZE
              %i.fas.fa-chevron-down
          .form-part__select.brand
            %label.form-part__label ブランド
            %span任意
            %input(type="text" placeholder="例）シャネル")/
          .form-part__select.status
            %label.form-part__label 商品の状態
            %span必須
            .form-part__select-box
              %select
                %option(value="")---
                %option(value="1")新品。未使用
                %option(value="2")未使用に近い
                %option(value="3")目立った傷や汚れなし
                %option(value="4")やや傷や汚れあり
                %option(value="5")傷や汚れあり
                %option(value="6")全体的に状態が悪い
              %i.fas.fa-chevron-down
      .delivery.form-part
        .delivery__left
          %h2.form-part__title 配送について
          = link_to "#" do
            %i.fas.fa-question-circle
        .delivery__right
          .form-part__select
            %label.form-part__label 配送料の負担
            %span必須
            .form-part__select-box
              %select
                %option(value="")---
                %option(value="1")送料込み（出品者負担）
                %option(value="2")着払い（購入者負担）
              %i.fas.fa-chevron-down
          .form-part__select
            %label.form-part__label 配送の方法
            %span必須
            .form-part__select-box
              = f.collection_select :shipping_method, Shipping_method.all, :id, :name
              %i.fas.fa-chevron-down
          .form-part__select
            %label.form-part__label 配送元の地域
            %span必須
            .form-part__select-box
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name
              %i.fas.fa-chevron-down
          .form-part__select
            %label.form-part__label 発送までの日数
            %span必須
            .form-part__select-box
              = f.select :shipping_days, Product.shipping_days.keys.map {|k| [k, k]}
              %i.fas.fa-chevron-down
      .price.form-part
        .price__left
          %h2.form-part__title 販売価格(300〜9,999,999)
          = link_to "#" do
            %i.fas.fa-question-circle
        .form-part__body.price__right
          .price-set
            .price-set__left
              %label.form-part__label 価格
              %span必須
            .price-set__right
              %small¥
              %input(type="text" placeholder="例）300")/
          %hr/
          .fee
            %p 販売手数料(10%)
            %p -
          %hr/
          .venefit
            %p 販売利益
            %p -
      .confirm.form-part
        %p
          = link_to"禁止されている出品","#"
          、
          = link_to"行為","#"
          を必ずご確認ください。
        %p
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to"偽ブランドの販売", "#"
          は犯罪であり処罰される可能性があります。
        %p
          また、出品をもちまして
          = link_to"加盟店規約", "#"
          に同意したことになります。
        %input(type="submit" value="出品する")/
        = link_to "もどる", "#", class: "back-button"

