- breadcrumb :product, @product
.items-details
  .container
    .items-contents
      %h1
        = @product.name
      .item-main
        .item-main__image
          = image_tag @image.image.url
        %table.item-main__details
          %tr
            %th
              出品者
            %td
              = link_to do
                = @product.seller_user.nickname
              .item-user-ratings
                %i.fas.fa-laugh
                %span
                  111
              .item-user-ratings
                %i.fas.fa-meh
                %span
                  111
              .item-user-ratings
                %i.fas.fa-frown
                %span
                  111
          %tr
            %th
              カテゴリー
            %td
              = link_to do
                = @product.category.name
              = link_to do
                %i.fas.fa-chevron-right
                = @product.category_child.name              
              = link_to do
                %i.fas.fa-chevron-right
                = @product.category_groundchild.name              
          %tr
            %th
              ブランド
            %td
              = link_to do
                = @product.brand.brand_name
          %tr
            %th
              商品のサイズ
            %td
              %p
                = @product.size.name
          %tr
            %th
              商品の状態
            %td
              %p
                = @product.condition
          %tr
            %th
              配送料の負担
            %td
              %p
                = @product.shipping_charge
          %tr
            %th
              配送の方法
            %td
              %p
                = @product.shipping_method.name
          %tr
            %th
              配送元地域
            %td
              = link_to do
                = @product.prefecture.name
          %tr
            %th
              発送日の目安
            %td
              %p
                = @product.shipping_days
      .item-price
        .item-price__bold
          %span
            ¥ 
            = @product.sales_price
        .item-price__tax
          %span
            (税込)
        .item-price__fee
          %span
            送料込み
      .item-buy-btn
        = link_to do
          購入画面に進む
      .item-date
        %p.item-date__inner<
          = @product.text
      .item-button-box
        .item-button-box__left
          %button.like-btn
            %i.far.fa-heart
            %span
              いいね!
            %span.like-btn__count
              9
          %button.report-btn
            %i.far.fa-flag
            %span
              不適切な関係
        .item-button-box__right
          = link_to do
            %i.fas.fa-lock
            %span
              あんしん・あんぜんへの取り組み
    .message-contents
      %form.message-contents__form
        %p
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.text-line
        %button
          %span
            コメントする
    .item-nav
      .item-nav__prev
        = link_to do
          %i.fas.fa-chevron-left
          %span
            フリーザ
      .item-nav__next
        = link_to do
          %span
            セル
          %i.fas.fa-chevron-right
    .socialmedia-box
      %ul.app-content
        %li
          = link_to do
            %i.fab.fa-facebook-square
        %li
          = link_to do
            %i.fab.fa-twitter-square           
        %li
          = link_to do
            %i.fab.fa-pinterest-square
