.simple-footer
  %ul.policies
    %li.policy
      = link_to'プライバシーポリシー', "#"
    %li.policy
      = link_to'メルカリ利用規約', "#" 
    %li.policy
      = link_to'特定商取引に関する表記', "#"
  .logo
    = link_to "#" do
      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3270184656', class: :logo__image
  .copy-right
    %p©️ R18 Erocari